<section class="pt-3 message-box">
    <h3>Successful.</h3>
    <li><form method="POST" action="subscribe"><p class="full">
                <button class="button" type="submit">Subscribe to Newsletter</button>
    </p></form></li>
</section>