<h1 class="brand"><span>Nodemailer</span> App</h1>
<div class="wrapper animated bounceInLeft">
    <div class="company-info">
        <h3>Subscriber</h3>
    </div>
    <div class="contact">
        <h3>Subscribe</h3>
        <form method="POST">
                <label>Email Address</label>
                <input type="email" name="email">
            </p>
            <p class="full">
                <button type="submit">Subscribe to Newsletter</button>
            </p>
        </form>
    </div>
</div>